@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
*{
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
:root{
  box-sizing: border-box;
}
body{
   background-color: hsl(229, 57%, 11%);
   background-image: url("../images/bg-desktop.png");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center bottom;
   font-family: 'Raleway', sans-serif;
   color: hsl(229, 7%, 55%);
}
.container{
  padding: 70px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.content{
  height: 250px;
  display: flex;
  flex-direction: column-reverse;
}
.content .bg{
  width: 550px;
  position: relative;
}
.content div.boxes{
  top: -60px;
}
.content .boxes{
  display: flex;
  position: relative;
  width: fit-content;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}
.content .boxes .first{
  width: fit-content;
  background-color: hsl(228, 56%, 26%);
  padding: 15px 55px 15px 15px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border-top-right-radius: 50px;
}
.content .boxes .second{
  margin-left: 10px;
  width: fit-content;
  background-color: hsl(228, 56%, 26%);
  color: white;
  align-self: flex-end;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}
.content .boxes .second h4{
  position: absolute;
  background-color: white;
  padding: 6px 8px;
  color: hsl(229, 57%, 11%);
  top: -20px;
  right: 15px;
  border-radius: 6px;
  display: flex;
  align-items: center;
}
.content .boxes .second h4 span{
  font-size: 6px;
  margin-left: 5px;
  color: hsl(229, 7%, 55%);
  z-index: 2;
}
.content .boxes .second h4::before{
  content: "";
  position: absolute;
  background-color: white;
  width: 15px;
  height: 10px;
  right: 0;
  bottom: 0;
  transform: skew(180deg, 34deg);
}
.content .boxes .second p{
  font-size: 7px;
  color: hsl(243, 100%, 93%);
  margin-bottom: 7px;
}
.content .boxes .second p span{
  font-size: 8px;
  color: white;
}
.content .boxes .second .range{
  width: 190px;
  height: 7px;
  position: relative;
  border-radius: 4px;
  background-color: hsl(231, 53%, 17%);
  padding: 1px;
}
.content .boxes .second .range::before{
  position: absolute;
  content: "";
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  width: 140px;
  height: 6px;
  border-radius: 4px;
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}
.content .boxes .second .range .left{
  font-size: 7px;
  position: absolute;
  left: 0;
  bottom: -10px;
}
.content .boxes .second .range .right{
  font-size: 7px;
  position: absolute;
  right: 0;
  bottom: -10px;
}
.content .boxes .first .logo{
  width: 50px;
}
.content .boxes .first .icons{
  margin-top: 10px;
}
.content .boxes .first .icons img{
  width: 8px;
  height: 8px;
  border-radius: 5px;
  padding: 5px;
  background-color: hsl(229, 57%, 11%);
}
.attribution {
  color: white;
  font-size: 14px;
  text-align: center;
}
.attribution a{
  text-decoration: none;
  color: orange;
}
.attribution a:hover{
  text-decoration: none;
  color: red;
}
